:root{
    --white: rgb(250, 250, 250); 
}

*{
    font-family: "Maven Pro", sans-serif;
}

body{
    background-color: var(--white);
    margin: 0;
}

.all-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
}
.top-content{
    width: 100%;
    background-color: rgb(125, 162, 255);
    height: 15vh;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.top-content-card{
    width: 25%;
    height: 15vh;
    background-color: var(--white);
    border-radius: .75rem;
    margin-top: 7.5vh;
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.49);
    -moz-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}
.top-content-left{
    height:auto;
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.25rem;
}
.top-content-rigth{
    width: 2.5rem;
    height: 2.5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--white);
    font-size: 1.10rem;
}
.top-content-rigth.icon-total{
    background-color: transparent;
    color: black;
    font-size: 1.7rem;
}
.action-content{
    display: flex;
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.49);
    -moz-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.49);
    border-radius: .75rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    width: 78.5%;
    height: 15vh;
    margin-top: 7vh;
}
.action-button button {
    background-color: #7DA2FF;
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    color: var(--white);
}
.action-content-div{
   display: flex;
   gap: 1rem;
   flex-direction: column;
   justify-content: flex-start;
   height: 100%;
   font-size: 1.25rem;
   width: 100%;
}
.action-content-div input{
    background-color: #F3F3F3;
    font-size: 1.1rem;
    border-radius: .3rem;
    border: none;
    padding: .2rem .5rem;
    outline: none;
}
.action-content-div input[type="radio"]{
    accent-color: #000;
    transform: scale(1.6);
}
.action-content-div input[type="text"]{
    width: 85%;
}
.table-content{
    width: 78.5%;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    overflow: hidden;
      box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.49);
    -moz-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.49);
}

table {
  width: 100%;
  height: auto;
  margin: 0px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead {
  background-color: var(--white); /* fundo do cabeçalho */
  color: black;            /* cor do texto */
  border-bottom: 2.5px solid #ddd; /* linha inferior */
}

th, td {
  padding: 12px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* listras alternadas */
}

tbody tr:hover {
  background-color: #e6f7ff; /* destaque ao passar o mouse */
}

i.fa-trash {
  color: #000000;       
  cursor: pointer;
  transition: 0.2s;
}

i.fa-trash:hover {
  color: #000000;       
  transform: scale(1.2); 
}
